@model List<Souq.Core.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Supplier Products </h2>

@*<p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>*@
@using (Html.BeginForm())
{ 
<fieldset>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>


                @*<th>
                        @Html.DisplayNameFor(model => model.ProductionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpireDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>*@
                <th>
                    Price
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImagePath)
                    </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>*@
                <th>
                    Offer
                </th>
                <th>
                    Add
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpireDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ImageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImagePath)
                        </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Id)
                            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.IsOffer)
                    </td>
                    <td>
                        <input asp-for="@item.IsSelected" />
                    </td>
                    <td>
                        @if (!item.IsSelected)
                        {
                            <a class="btn btn-primary" asp-action="AddNewItem" asp-route-id="@item.Id">Add</a>

                        }
                        else
                        {
                            <a class="btn btn-danger" asp-action="RemoveItem" asp-route-id="@item.Id">remove</a>

                        }
                        @*     <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" @*asp-controller="Items" asp-action="AddSelectedItems"*@ class="btn btn-primary">Add Selected Items</button>
</fieldset>
}